.header
  .header__log
    グループを作成しました

.contents
  = render 'shared/side_bar'
  .contents__right
    .contents__right__a
      .contents__right__a__current-group
        .contents__right__a__current-group__group-name
          グループ名
        .contents__right__a__current-group__member-list
          Member: user-name
      .contents__right__a__edit-btn
        edit
    .contents__right__b
      .contents__right__b__message
        .contents__right__b__message__upper-info
          .contents__right__b__message__upper-info__talker
            test-user
          .contents__right__b__message__upper-info__date
            2019/9/10
        .contents__right__b__message__text
          チャット
    .contents__right__c
      .contents__right__c__new-message
        .contents__right__c__new-message__text
          .contents__right__c__new-message__text__text
            Type a message
          .contents__right__c__new-message__text__image
            %label.contents__right__c__new-message__text__image{for: "hidden"}
              %i.fa.fa-picture-o
              %input.hidden{type: 'file', id:"hidden"}
        .contents__right__c__new-message__send
          .contents__right__c__new-message__send__text
            Send